:root {
  --akcent: #0077d6;
  --colorText: #dad8d8;
  --hoverColor: #ffa256;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--akcent);
}
.lock {
  overflow: hidden;
}

/* ------------------------------background-image------------------------------ */
.wrapper {
  position: relative;
}
.wrapper::before {
  content: "";
  position: absolute;
  background-image: url(../images/kindpng_4791613.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 250px;
  width: 250px;
  top: 30%;
  right: 5%;
  z-index: 0;
}
.wrapper::after {
  content: "";
  position: absolute;
  background-image: url(../images/sampicon.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 250px;
  width: 250px;
  top: 9%;
  left: 3%;
  z-index: 0;
}

/* ------------------------------container and rotate------------------------------ */
.container {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0px 10px;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ------------------------------header body------------------------------ */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--akcent);
  z-index: 2;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

/* ------------------------------logo------------------------------ */
.header__logo {
  flex: 0 0 75px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 3;
  transition: all 0.3 ease 0s;
}
.header__logo:focus,
.header__logo:hover {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);

  animation: rotate 0.7s;
  transform-origin: center;
}
.header__logo img {
  max-width: 100%;
  display: block;
}

.header__burger {
  display: none;
}

/* ------------------------------menu------------------------------ */
.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}
.header__list li {
  list-style: none;
  margin: 0px 0px 0px 20px;
}

.header__link {
  color: var(--colorText);
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.header__link:hover,
.header__link:focus {
  padding: 10px 3px;
  border-radius: 4px;
  color: var(--hoverColor);
  box-shadow: 0px 5px 2px 2px rgba(0, 0, 0, 0.2);
}

/* ------------------------------adaptiv burger menu------------------------------ */
@media (max-width: 825px) {
  .header__body {
    height: 50px;
  }
  .header__logo {
    flex: 0 0 40px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }

  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.801);
    padding: 70px 10px 20px 10px;
    transition: all 0.7s ease 0s;
  }
  .header__menu.active {
    top: 0;
    transition: all 0.7s ease 0s;
  }

  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0 0 20px 0;
  }

  .header__link {
    font-size: 22px;
  }
}

/* ------------------------------content text------------------------------ */
.content {
  padding: 100px 0px 0px 0px;
}
.content__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 70px 0 0 0;
  font-size: 18px;
  line-height: 20px;
}
.content__text h1 {
  margin: 0 0 30px 0;
  color: var(--colorText);
  z-index: 5;
}
.content__text p {
  display: flex;
  text-align: center;

  margin: 0px 0px 20px 0px;
  width: 800px;
  color: var(--colorText);
  z-index: 5;
}

/* ------------------------------content buttons------------------------------ */
.content__buttons {
  display: flex;
  margin: 50px 0 0 0;
  justify-content: center;
}
.content__buttons__create {
  margin: 0 150px 0 0;
  border-radius: 4px;
  width: 251px;
  padding: 15px 0;
  font-size: 20px;
  z-index: 5;
  transition: all 0.3s ease 0s;
}
.content__buttons__create:focus,
.content__buttons__create:hover {
  color: var(--akcent);
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.3);
}
.content__buttons__download {
  border-radius: 4px;
  width: 251px;
  padding: 15px 0;
  font-size: 20px;
  color: var(--colorText);
  background-color: #00a749;
  z-index: 5;
  transition: all 0.3s ease 0s;
}
.content__buttons__download:focus,
.content__buttons__download:hover {
  color: black;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

/* ------------------------------content card------------------------------ */
.content__card__card {
  display: flex;
  justify-content: center;
  margin: 100px 0 0 0;
}

.content__card__shadow {
  position: relative;
  border-radius: 5px;
  width: 350px;
  border: 4px var(--colorText) solid;
  background-color: var(--colorText);
  filter: brightness(0.5);
  cursor: pointer;
  z-index: 5;
  transition: all 0.65s ease 0s;
}

.content__card__shadow:focus,
.content__card__shadow:hover {
  filter: brightness(1);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.content__card__shadow::before {
  content: "GAMBIT";
  position: absolute;
  top: 10%;
  left: 5%;
  font-size: 30px;
  color: var(--colorText);
}
.content__card__shadow::after {
  content: "Подробнее...";
  position: absolute;
  right: 4%;
  bottom: 3%;
  font-size: 13px;
  color: var(--colorText);
}
.content__card__shadow img {
  border-radius: 5px;
  width: 100%;
}

/* ------------------------------footer------------------------------ */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.footer::before {
  content: "";
  position: absolute;
  background-image: url(../images/pngimg.com\ -\ gta_PNG26.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 450px;
  width: 450px;
  bottom: 14%;
  left: 0;
  z-index: 0;
}

.footer__title {
  font-size: 35px;
  margin: 20px 0 0 0;
  color: var(--colorText);
}
.footer__button {
  margin: 25px 0 0 0;
  border-radius: 4px;
  width: 251px;
  padding: 15px 0;
  font-size: 20px;
  background-color: var(--colorText);
  color: black;
  transition: all 0.3s ease 0s;
}
.footer__button:focus,
.footer__button:hover {
  color: var(--akcent);
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.3);
}
.footer__dopinfo {
  margin: 30px 0 60px 0;
  color: var(--colorText);
}

/* ------------------------------------------------------------ */
/* ------------------------------adaptiv content (max-width: 440px)------------------------------ */
@media (max-width: 440px) {
  .wrapper::before {
    height: 70px;
    width: 70px;
    top: 37%;
    right: 6%;
  }
  .wrapper::after {
    height: 130px;
    width: 130px;
    top: 24%;
    left: -7%;
  }
  /* ------------------------------content text------------------------------ */
  .content {
    padding: 50px 0 0 0;
  }
  .content__text {
    margin: 40px 0 0 0;
    font-size: 15px;
    line-height: 20px;
  }
  .content__text h1 {
    margin: 0 0 30px 0;
  }
  .content__text p {
    margin: 0px 0px 20px 0px;
    width: 300px;
  }

  /* ------------------------------content buttons------------------------------ */
  .content__buttons {
    flex-direction: column;
    margin: 30px 0 0 0;
    align-items: center;
  }
  .content__buttons__create {
    margin: 0 0 30px 0;
    width: 201px;
    padding: 13px 0;
    font-size: 15px;
  }
  .content__buttons__download {
    width: 201px;
    padding: 13px 0;
    font-size: 15px;
  }

  /* ------------------------------content card------------------------------ */
  .content__card__card {
    margin: 90px 0 0 0;
  }
  .content__card__shadow {
    width: 250px;
  }
  .content__card__shadow::before {
    font-size: 20px;
  }
  .content__card__shadow::after {
    font-size: 10px;
  }

  /* ------------------------------footer------------------------------ */
  .footer {
    margin-top: 120px;
  }
  .footer::before {
    height: 150px;
    width: 150px;
    bottom: 14.3%;
  }

  .footer__title {
    font-size: 12px;
    margin: 20px 0 0 0;
    color: var(--colorText);
  }
  .footer__button {
    width: 201px;
    padding: 13px 0;
    font-size: 15px;
  }
  .footer__dopinfo {
    margin: 25px 0 50px 0;
    font-size: 10px;
    color: var(--colorText);
  }
}

/* ------------------------------------------------------------ */
/* ------------------------------(min-width: 441px) and (max-width: 620px)------------------------------ */
@media (min-width: 441px) and (max-width: 620px) {
  .wrapper::before {
    height: 110px;
    width: 110px;
    top: 33%;
    right: 0;
  }
  .wrapper::after {
    height: 120px;
    width: 120px;
    top: 5%;
    left: -4%;
  }

  /* ------------------------------content text------------------------------ */
  .content {
    padding: 60px 0 0 0;
  }
  .content__text {
    margin: 50px 0 0 0;
    font-size: 16px;
    line-height: 22px;
  }
  .content__text h1 {
    margin: 0 0 35px 0;
  }
  .content__text p {
    margin: 0px 0px 25px 0px;
    width: 390px;
  }

  /* ------------------------------content buttons------------------------------ */
  .content__buttons {
    flex-direction: row;
    margin: 30px 0 0 0;
    justify-content: center;
    align-items: center;
  }
  .content__buttons__create {
    margin: 0 25px 0 0;
    width: 211px;
    padding: 14px 0;
    font-size: 16px;
  }
  .content__buttons__download {
    width: 211px;
    padding: 14px 0;
    font-size: 16px;
  }

  /* ------------------------------content card------------------------------ */
  .content__card__card {
    margin: 50px 0 0 0;
  }
  .content__card__shadow {
    width: 280px;
  }
  .content__card__shadow::before {
    font-size: 25px;
  }
  .content__card__shadow::after {
    font-size: 11px;
  }

  /* ------------------------------footer------------------------------ */
  .footer::before {
    height: 200px;
    width: 200px;
    bottom: 17%;
  }

  .footer__title {
    font-size: 18px;
  }
  .footer__button {
    width: 211px;
    padding: 14px 0;
    font-size: 16px;
  }
}

/* ------------------------------------------------------------ */
/* ------------------------------(min-width: 621px) and (max-width: 1024px)------------------------------ */
@media (min-width: 621px) and (max-width: 1024px) {
  .wrapper::before {
    height: 180px;
    width: 180px;
    top: 35%;
  }
  .wrapper::after {
    height: 150px;
    width: 150px;
    top: 7%;
    left: 0;
  }

  /* ------------------------------content text------------------------------ */
  .content {
    padding: 70px 0 0 0;
  }
  .content__text {
    margin: 60px 0 0 0;
    font-size: 18px;
    line-height: 24px;
  }
  .content__text h1 {
    margin: 0 0 40px 0;
  }
  .content__text p {
    margin: 0px 0px 25px 0px;
    width: 590px;
  }

  /* ------------------------------content buttons------------------------------ */
  .content__buttons {
    margin: 40px 0 0 0;
  }
  .content__buttons__create {
    margin: 0 70px 0 0;
    width: 231px;
    padding: 15px 0;
    font-size: 16px;
  }
  .content__buttons__download {
    width: 231px;
    padding: 15px 0;
    font-size: 16px;
  }

  /* ------------------------------content card------------------------------ */
  .content__card__card {
    margin: 70px 0 0 0;
  }
  .content__card__shadow {
    width: 300px;
  }
  .content__card__shadow::before {
    font-size: 30px;
  }
  .content__card__shadow::after {
    font-size: 12px;
  }

  /* ------------------------------footer------------------------------ */
  .footer {
    margin-top: 100px;
  }
  .footer::before {
    height: 200px;
    width: 200px;
    bottom: 16.4%;
  }

  .footer__title {
    font-size: 22px;
  }
  .footer__button {
    width: 231px;
    padding: 14px 0;
    font-size: 16px;
  }
}

/* ------------------------------------------------------------ */
/* ------------------------------(min-width: 1025px) and (max-width: 1240px)------------------------------ */
@media (min-width: 1025px) and (max-width: 1240px) {
  .wrapper::before {
    height: 250px;
    width: 250px;
    top: 30%;
  }
  .wrapper::after {
    height: 220px;
    width: 220px;
    top: 10%;
    left: 0;
  }

  /* ------------------------------content card------------------------------ */
  .content__card__shadow {
    width: 350px;
  }
  .content__card__shadow::before {
    font-size: 35px;
  }
  .content__card__shadow::after {
    font-size: 13px;
  }

  /* ------------------------------footer------------------------------ */
  .footer {
    margin-top: 100px;
  }
  .footer::before {
    height: 350px;
    width: 350px;
    bottom: 14.5%;
  }

  .footer__title {
    font-size: 30px;
  }
}

/* ------------------------------------------------------------ */
/* ------------------------------modal__create------------------------------ */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.65);

  /* transition: all 0.5s ease; */
  animation: fade-in 0.6s forwards;
  z-index: 9999;
}

/* Modal content */
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 300px;
  height: 400px;
  border-radius: 5px;

  background-image: url(../images/lspic.png);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

/* Close button */
.close {
  position: absolute;
  top: 0;
  right: 10px;

  font-size: 35px;
  color: var(--colorText);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.close:hover,
.close:focus {
  color: var(--hoverColor);
}

.modal-content h2 {
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding: 0 0 20px 0;
  color: var(--colorText);
}
.modal-content__form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.modal-content__form label {
  font-size: 14px;
  font-weight: bold;
  padding: 0 0 3px 0;
  color: white;
}

.modal-content__form input {
  border-radius: 4px;
  padding: 5px;
  margin: 0 0 6px 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: all 0.3s ease 0s;
}

.modal-content__form input:hover,
.modal-content__form input:focus {
  background-color: var(--hoverColor);
}

.checkbox {
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.438);
}
.modal-content button {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
  padding: 10px 0;
  margin: 10px 0 0 0;
  width: 121px;
  font-size: 12px;
  transition: all 0.3s ease 0s;
}
.modal-content button:hover,
.modal-content button:focus {
  color: var(--akcent);
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.3);
}

/*  */
@media (min-width: 750px) {
  .modal-content {
    padding: 25px;
    width: 400px;
    height: 500px;
  }

  .modal-content h2 {
    font-size: 30px;
    padding: 10px 0 20px 0;
  }

  .modal-content__form label {
    font-size: 16px;
    padding: 0 0 5px 0;
  }

  .modal-content__form input {
    padding: 7px;
    margin: 0 0 15px 0;
  }
  .checkbox {
    font-size: 15px;
  }
  .modal-content button {
    padding: 15px 0;
    margin: 20px 0 0 0;
    width: 200px;
    font-size: 15px;
  }
}

/*  */
/* modal-join */
.modal-join {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.65); /* Black w/ opacity */
  padding-top: 60px; /* Location of the box */
  animation: fade-in 0.6s forwards;
  z-index: 9999;
}

/* Modal content styles */
.modal-join__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
  height: 300px;
  padding: 10px;
  border-radius: 5px;

  background-image: url(../images/logo.png);
  background-color: var(--akcent);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

/* Close button styles */
.close-join {
  position: absolute;
  top: 0;
  right: 10px;

  font-size: 35px;
  color: var(--colorText);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.close-join:hover,
.close-join:focus {
  color: var(--hoverColor);
  text-decoration: none;
  cursor: pointer;
}

.modal-join__content {
  display: flex;
  flex-direction: column;
}

.modal-join__content h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
  padding: 5px 0 0 0;
  font-size: 14px;
}

.modal-join__lable {
  display: flex;
  flex-direction: column;
  margin: 5px 5px;
  color: black;
  font-size: 15px;
  font-weight: bold;
}
.modal-join__lable input {
  width: 100%;
  background-color: #00000085;
  color: var(--colorText);
  border-radius: 4px;
  padding: 4px;
  margin: 2px;
  transition: all 0.3s ease 0s;
}
.modal-join__lable input:hover,
.modal-join__lable input:focus {
  background-color: #000000ce;
}
.modal-join__lable .text {
  width: 100%;
  height: 105px;
  border-radius: 4px;
  padding: 4px;
  margin: 4px;
  background-color: #00000085;
  color: var(--colorText);
  transition: all 0.3s ease 0s;
}
.modal-join__lable .text:hover,
.modal-join__lable .text:focus {
  background-color: #000000ce;
}
.modal-join__content button {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
  padding: 10px 0;
  margin: 10px 0 0 0;
  width: 121px;
  font-size: 12px;
  transition: all 0.3s ease 0s;
}
.modal-join__content button:hover,
.modal-join__content button:focus {
  color: var(--akcent);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

/*  */
@media (min-width: 750px) {
  .modal-join__content {
    width: 370px;
    height: 400px;
    padding: 10px;
  }

  /* Close button styles */
  .close-join {
    font-size: 45px;
  }

  .modal-join__content h1 {
    padding: 20px 0 0 0;
    font-size: 18px;
  }

  .modal-join__lable {
    margin: 10px 8px;
    font-size: 17px;
  }
  .modal-join__lable input {
    padding: 6px;
    margin: 5px;
  }

  .modal-join__lable .text {
    width: 100%;
    height: 140px;
    border-radius: 4px;
    padding: 4px;
    margin: 4px;
    background-color: #00000085;
    color: var(--colorText);
    transition: all 0.3s ease 0s;
  }

  .modal-join__content button {
    padding: 10px 0;
    width: 151px;
    font-size: 15px;
  }
}
